.container{
    width: 600px;
    height: 400px;
    background-color: rgb(61, 255, 239);
    outline: solid black 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    /* justify-content: space-evenly; */
}

.item{
    width: 100px;
    /* height: 100px; */
    /* flex-grow: 1; */
    outline: solid black 1px;
    /* padding-left: 30px; */
    /* padding-left: 30px; */
    box-sizing: border-box;
}

/*pseudoselectores*/
/*slectores para casos especificos*/

.container .item:first-child{
    background-color: deeppink;
    color: aliceblue;
    /*flex-grow: es 0 por defecto*/
    flex-grow: 1;
}
.container .item:last-child{
    background-color: rgb(212, 0, 255);
    color: aliceblue;
    flex-grow: 1.4;
    
}

.container .item:nth-child(2){
    background-color: rgb(98, 0, 255);
    color: aliceblue;
    flex-grow: 0.5;
}

.container .item:nth-child(3){
    background-color: rgb(0, 102, 255);
    color: aliceblue;
    flex-grow: 0.7;
}
